<!doctype html>
<html lang=fr>
  <head>
    <meta charset="utf-8">
    <title>Facture</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}" />
  </head>
  <body>
    <header>
      <h1>Facture</h1>
      <address contenteditables>
        <p>Sociéte Derbel cosmétique</p>
        <p>Rte route teniour km 6.5<br> chihia sfax</p>
        <p>(+216) 54 361 320</p>
      </address>
      <span><img alt="" src="derbel.png" height="150" width="150"></span>
    </header>
    <article>
      <h1>Recipient</h1>
      <address contenteditable>
        <p>Sociéte<br>/Client</p>
      </address>
      <table class="meta">
        <tr>
          <th><span contenteditable>Facture #N°</span></th>
          <td><span contenteditable>1</span></td>
        </tr>
        <tr>
          <th><span contenteditable>Date</span></th>
          <td><span contenteditable>January 1, 2018</span></td>
        </tr>
        <tr>
          <th><span contenteditable>Total Paye</span></th>
          <td><span id="prefix" contenteditable></span><span>600.000</span>DT</td>
        </tr>
      </table>
      <table class="inventory">
        <thead>
          <tr>
            <th><span contenteditable>Ref Produit</span></th>
            <th><span contenteditable>Nom Produit</span></th>
            <th><span contenteditable>Prix DT</span></th>
            <th><span contenteditable>Quantité</span></th>
            <th><span contenteditable>Total par Produit DT</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a class="cut">-</a><span contenteditable>001</span></td>
            <td><span contenteditable>Parfun 212 100ml</span></td>
            <td><span data-prefix></span><span contenteditable>15.000</span></td>
            <td><span contenteditable>4</span></td>
            <td><span data-prefix></span><span>600.00</span></td>
          </tr>
        </tbody>
      </table>
      <a class="add">+</a>
      <table class="balance">
        <tr>
          <th><span contenteditable>Total HT</span></th>
          <td><span data-prefix></span><span>600.000</span>DT</td>
        </tr>
        <tr>
          <th><span contenteditable>Fodex</span></th>
          <td><span data-prefix></span><span contenteditable>0.000</span>DT</td>
        </tr>
        <tr>
          <th><span contenteditable>TVA</span></th>
          <td><span data-prefix></span><span contenteditable>0.000</span>DT</td>
        </tr>
        <tr>
          <th><span contenteditable>Timber Fiscal</span></th>
          <td><span data-prefix></span><span contenteditable>0.000</span>DT</td>
        </tr>
        <tr>
          <th><span contenteditable>Total TTC</span></th>
          <td><span data-prefix></span><span>600.000</span>DT</td>
        </tr>
      </table>
    </article>
    <aside>
      <h1><span contenteditable>Remarque</span></h1>
      <div contenteditable>
        <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
      </div>
    </aside>
    <script src="{% static 'core/script.js' %}"></script>
  </body>
</html>
